* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header img {
  width: 10%;
  border-radius: 100%;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.61);
  margin: 10px;
}

section {
  text-align: center;
}

header {
  padding-top: 30px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 15px;
  gap: 20px;
}

main a {
  text-decoration: none;
  background-color: grey;
  width: 30%;
  padding: 30px;
  text-align: center;
  color: white;
  border-radius: 30px;
}

main a:hover {
  background-color: rgb(105, 105, 105);
  transition: 0.3s;
  padding: 32px;
}

main a:active {
  box-shadow: inset black 2px 4px 2px;
  background-color: rgb(78, 78, 78);
}

main a:not(hover) {
  background-color: grey;
  transition: 0.3s;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}

footer img {
  width: 70px;
}

@media screen and (max-width: 1200px) {
  main a {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  main a {
    width: 80%;
  }
}